<div class="col-md-3">
  <ul class="list-group">
    <li class="list-group-item text-right">
      <span class="pull-left"><strong>Target:</strong></span>
      <%= @username %>
    </li>
    <li class="list-group-item text-right">
      <span class="pull-left"><strong>Kill Date:</strong></span>
      <%= @first_negative.created_at.strftime('%H:%M on %m-%d-%Y') if @first_negative %>
    </li>
    <li class="list-group-item text-right">
      <span class="pull-left"><strong>Killing Blow:</strong></span>
      <%= @first_negative.attacker if @first_negative %>
    </li>
    <li class="list-group-item text-right">
      <span class="pull-left"><strong>Soliders Killed:</strong></span>
      <%= readable_number(@soldiers_killed) if @soldiers_killed %>
    </li>
  </ul>
</div>

<div class="col-md-12">
<% require 'pp' %>
<% pp @contributers %>
</div>
